**/__pycache__
headless/**/*.log
**/tests/output/**
venv**/
driving_backup/
experiments/
headless/resources/random*
.vscode/**
**/.vscode
*.o
*.so
*.out 
*.prof*
*.prettierrc
*.cxx
game_ai/cpp_env/pvz_ai

# Ignore the build directory, except the __init__.py file
game_ai/build
!game_ai/build/__init__.py

# Ignore Singularity related files and images
singularity/**
*.sif
backup_data/assaf_data/data.csv
backup_data/assaf_data/mcts_experiment_1.32.csv
backup_data/assaf_data/mcts_experiment_01.csv
backup_data/assaf_data/mcts_experiment_2.32.csv
backup_data/assaf_data/mcts_experiment_02.csv
backup_data/assaf_data/mcts_experiment_3.32.csv
backup_data/assaf_data/mcts_experiment_03.csv
backup_data/assaf_data/mcts_experiment_42.csv
backup_data/assaf_data/mcts_experiment_01757.csv
backup_data/assaf_data/mcts_experiment_01975.csv
backup_data/assaf_data/mcts_experiment_02081.csv
backup_data/assaf_data/mcts_experiment_3177.csv
backup_data/assaf_data/mcts_experiment_3187.csv
backup_data/assaf_data/mcts_experiment_3233.csv
backup_data/assaf_data/mcts_experiment_3929.csv
backup_data/assaf_data/mcts_experiment_4633.csv
backup_data/assaf_data/mcts_experiment_4687.csv
backup_data/assaf_data/mcts_experiment_4975.csv
backup_data/assaf_data/mcts_experiment_05162.csv
backup_data/assaf_data/mcts_experiment_06147.csv
backup_data/assaf_data/mcts_experiment_7450.csv
backup_data/assaf_data/mcts_experiment_7809.csv
backup_data/assaf_data/mcts_experiment_07946.csv
backup_data/assaf_data/mcts_experiment_8703.csv
backup_data/assaf_data/mcts_experiment_9061.csv
backup_data/assaf_data/mcts_experiment_15668.csv
backup_data/assaf_data/mcts_experiment_17955.csv
backup_data/assaf_data/mcts_experiment_18112.csv
backup_data/assaf_data/mcts_experiment_l4.csv
backup_data/assaf_data/mcts_experiment_l5.csv
backup_data/assaf_data/mcts_experiment_l6.csv
backup_data/assaf_data/mcts_experiment_l641.csv
backup_data/assaf_data/mcts_experiment_l642.csv
backup_data/assaf_data/mcts_experiment_l643.csv
backup_data/assaf_data/mcts_experiment_small1.csv
backup_data/assaf_data/mcts_experiment_small2.csv
backup_data/assaf_data/mcts_experiment_small3.csv
backup_data/assaf_data/oct7_to_jan11.zip
backup_data/final_lambda_data/mcts_experiment_465.csv
backup_data/final_lambda_data/mcts_experiment_527.csv
backup_data/final_lambda_data/mcts_experiment_1312.csv
backup_data/final_lambda_data/mcts_experiment_1382.csv
backup_data/final_lambda_data/mcts_experiment_1924.csv
backup_data/final_lambda_data/mcts_experiment_2529.csv
backup_data/final_lambda_data/mcts_experiment_2550.csv
backup_data/final_lambda_data/mcts_experiment_2563.csv
backup_data/final_lambda_data/mcts_experiment_2802.csv
backup_data/final_lambda_data/mcts_experiment_2844.csv
backup_data/final_lambda_data/mcts_experiment_4560.csv
backup_data/final_lambda_data/mcts_experiment_4852.csv
backup_data/final_lambda_data/mcts_experiment_5143.csv
backup_data/final_lambda_data/mcts_experiment_5213.csv
backup_data/final_lambda_data/mcts_experiment_5228.csv
backup_data/final_lambda_data/mcts_experiment_5581.csv
backup_data/final_lambda_data/mcts_experiment_5869.csv
backup_data/final_lambda_data/mcts_experiment_5923.csv
backup_data/final_lambda_data/mcts_experiment_5989.csv
backup_data/final_lambda_data/mcts_experiment_6395.csv
backup_data/final_lambda_data/mcts_experiment_7053.csv
backup_data/final_lambda_data/mcts_experiment_7086.csv
backup_data/final_lambda_data/mcts_experiment_7320.csv
backup_data/final_lambda_data/mcts_experiment_7391.csv
backup_data/final_lambda_data/mcts_experiment_7397.csv
backup_data/final_lambda_data/mcts_experiment_7553.csv
backup_data/final_lambda_data/mcts_experiment_8254.csv
backup_data/final_lambda_data/mcts_experiment_9021.csv
backup_data/final_lambda_data/mcts_experiment_9176.csv
backup_data/final_lambda_data/mcts_experiment_9571.csv
backup_data/new_Data/mcts_experiment_171.csv
backup_data/new_Data/mcts_experiment_207.csv
backup_data/new_Data/mcts_experiment_429.csv
backup_data/new_Data/mcts_experiment_465.csv
backup_data/new_Data/mcts_experiment_515.csv
backup_data/new_Data/mcts_experiment_527.csv
backup_data/new_Data/mcts_experiment_888.csv
backup_data/new_Data/mcts_experiment_1221.csv
backup_data/new_Data/mcts_experiment_1312.csv
backup_data/new_Data/mcts_experiment_1382.csv
backup_data/new_Data/mcts_experiment_1574.csv
backup_data/new_Data/mcts_experiment_1748.csv
backup_data/new_Data/mcts_experiment_1772.csv
backup_data/new_Data/mcts_experiment_1916.csv
backup_data/new_Data/mcts_experiment_1924.csv
backup_data/new_Data/mcts_experiment_2168.csv
backup_data/new_Data/mcts_experiment_2240.csv
backup_data/new_Data/mcts_experiment_2529.csv
backup_data/new_Data/mcts_experiment_2550.csv
backup_data/new_Data/mcts_experiment_2563.csv
backup_data/new_Data/mcts_experiment_2734.csv
backup_data/new_Data/mcts_experiment_2802.csv
backup_data/new_Data/mcts_experiment_2844.csv
backup_data/new_Data/mcts_experiment_2960.csv
backup_data/new_Data/mcts_experiment_3913.csv
backup_data/new_Data/mcts_experiment_3981.csv
backup_data/new_Data/mcts_experiment_4552.csv
backup_data/new_Data/mcts_experiment_4560.csv
backup_data/new_Data/mcts_experiment_4852.csv
backup_data/new_Data/mcts_experiment_5143.csv
backup_data/new_Data/mcts_experiment_5213.csv
backup_data/new_Data/mcts_experiment_5228.csv
backup_data/new_Data/mcts_experiment_5581.csv
backup_data/new_Data/mcts_experiment_5585.csv
backup_data/new_Data/mcts_experiment_5739.csv
backup_data/new_Data/mcts_experiment_5743.csv
backup_data/new_Data/mcts_experiment_5858.csv
backup_data/new_Data/mcts_experiment_5869.csv
backup_data/new_Data/mcts_experiment_5923.csv
backup_data/new_Data/mcts_experiment_5989.csv
backup_data/new_Data/mcts_experiment_6014.csv
backup_data/new_Data/mcts_experiment_6278.csv
backup_data/new_Data/mcts_experiment_6395.csv
backup_data/new_Data/mcts_experiment_6565.csv
backup_data/new_Data/mcts_experiment_6954.csv
backup_data/new_Data/mcts_experiment_7053.csv
backup_data/new_Data/mcts_experiment_7086.csv
backup_data/new_Data/mcts_experiment_7211.csv
backup_data/new_Data/mcts_experiment_7255.csv
backup_data/new_Data/mcts_experiment_7320.csv
backup_data/new_Data/mcts_experiment_7391.csv
backup_data/new_Data/mcts_experiment_7397.csv
backup_data/new_Data/mcts_experiment_7553.csv
backup_data/new_Data/mcts_experiment_7644.csv
backup_data/new_Data/mcts_experiment_7831.csv
backup_data/new_Data/mcts_experiment_8254.csv
backup_data/new_Data/mcts_experiment_8453.csv
backup_data/new_Data/mcts_experiment_8521.csv
backup_data/new_Data/mcts_experiment_9021.csv
backup_data/new_Data/mcts_experiment_9176.csv
backup_data/new_Data/mcts_experiment_9196.csv
backup_data/new_Data/mcts_experiment_9475.csv
backup_data/new_Data/mcts_experiment_9571.csv
backup_data/new_Data/mcts_experiment_9642.csv
game_ai/cpp_env/level.py
game_ai/cpp_mcts/mcts.py
game_ai/final_csv/old/mcts_experiment_465.csv
game_ai/final_csv/old/mcts_experiment_527.csv
game_ai/final_csv/old/mcts_experiment_1312.csv
game_ai/final_csv/old/mcts_experiment_1382.csv
game_ai/final_csv/old/mcts_experiment_1924.csv
game_ai/final_csv/old/mcts_experiment_2529.csv
game_ai/final_csv/old/mcts_experiment_2550.csv
game_ai/final_csv/old/mcts_experiment_2563.csv
game_ai/final_csv/old/mcts_experiment_2802.csv
game_ai/final_csv/old/mcts_experiment_2844.csv
game_ai/final_csv/old/mcts_experiment_4560.csv
game_ai/final_csv/old/mcts_experiment_4852.csv
game_ai/final_csv/old/mcts_experiment_5143.csv
game_ai/final_csv/old/mcts_experiment_5213.csv
game_ai/final_csv/old/mcts_experiment_5228.csv
game_ai/final_csv/old/mcts_experiment_5581.csv
game_ai/final_csv/old/mcts_experiment_5869.csv
game_ai/final_csv/old/mcts_experiment_5923.csv
game_ai/final_csv/old/mcts_experiment_5989.csv
game_ai/final_csv/old/mcts_experiment_6395.csv
game_ai/final_csv/old/mcts_experiment_7053.csv
game_ai/final_csv/old/mcts_experiment_7086.csv
game_ai/final_csv/old/mcts_experiment_7320.csv
game_ai/final_csv/old/mcts_experiment_7391.csv
game_ai/final_csv/old/mcts_experiment_7397.csv
game_ai/final_csv/old/mcts_experiment_7553.csv
game_ai/final_csv/old/mcts_experiment_8254.csv
game_ai/final_csv/old/mcts_experiment_9021.csv
game_ai/final_csv/old/mcts_experiment_9176.csv
game_ai/final_csv/old/mcts_experiment_9571.csv
