**/__pycache__
headless/**/*.log
**/tests/output/**
venv**/
driving_backup/
experiments/
headless/resources/random*
.vscode/**
**/.vscode
*.o
*.so
*.out 
*.prof*
*.prettierrc
*.cxx
game_ai/cpp_env/pvz_ai
singularity/**

# Ignore the build directory, except the __init__.py file
game_ai/build
!game_ai/build/__init__.py