**/__pycache__
headless/**/*.log
**/tests/output/**
venv**/
driving_backup/
experiments/
headless/resources/random*
.vscode/**
**/.vscode
*.o
*.so
*.out 
*.prof*
*.prettierrc
*.cxx
game_ai/cpp_env/pvz_ai
singularity/**